.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0f0f0f;
    padding: 10px 20px;
    color: #ffffff;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .menu-icon,
  .search-icon,
  .nav-icon {
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .menu-icon:hover,
  .search-icon:hover,
  .nav-icon:hover {
    color: #00a8e1; /* Highlight color */
  }
  
  .logo {
    height: 40px;
    cursor: pointer;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    gap: 10vw;
    font-size: 16px;
  }
  
  .nav-links li {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .nav-links li:hover {
    color: #00a8e1; /* Highlight color */
  }
  
  .nav-icon {
    margin-right: 8px;
    font-size: 18px;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .profile-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .profile-icon:hover {
    transform: scale(1.1);
  }
  